{% extends "base2.html" %}
{% load static from staticfiles %}
{% block head %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"> 
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="{% static 'js/noty.js' %}"></script>
<style>
.pagination>.active>a {
    z-index: 0 !important;
    color: #fff;
    background-color: #fbb946;
    border-color: #fbb946;
    cursor: default;
}

.input-sm {
  background-image:url('/static/images/698627-icon-111-search-128.png');
  background-position: 162px 3px;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
 }
 #request_table_filter{
 color:#fff;
 }
.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px !important;
    border-bottom: 1px solid #eee;
}
</style>


<script>
$(document).ready(function(){
	$('#request_table').DataTable({
		responsive: {
	        details: false
	    }
	});
});

</script>
{% endblock %}


<body>

     {%block content%}
    
     <input type="hidden" id="group" value="{{group.name}}">
  <div class="" >
  
 <div class="page-header">
             <h4 class="" style="color: #6B748A; font-size: 17px;"><span class="glyphicon glyphicon-th-list"></span>
                  EMERGENCY REQUEST</h4>

        </div>
  


{% if messages %}
<ul class="noty-wrapper i-am-new" id="noty_top">
    <li class="bg-green" style="cursor: pointer;background-color:#000;color:#fff;opacity:0.8; height:61px;">
       <div class="noty_bar" id="noty_453371394759536000">
       {% for message in messages %}
          <div class="noty_message"><span class="noty_text">
             <span class="glyphicon glyphicon-remove-sign" id="cog"></span> {{ message }} </span>
          </div> {% endfor %}</div></li></ul>{% endif %}
          
<div class="row">

   <a href="{% url "customer:Add_emergency_req" %}" class="btn btn-primary" style="margin-bottom:10px;float:right;margin-right: 18px;" id="add_request"><span class="glyphicon glyphicon-plus-sign""></span> Add Emergency Request</a>

</div>


    <div class="content-wrapper">
    <section class="content-header" id="addContent">
    <table id="request_table" class="display no-wrap responsive table-striped" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="border-bottom: none;">
    <thead>
          	<tr style="background-color:#6B748A;color:white;font-size:14px">
          	<th>Service Type</th>
          	    <th id="col_cust">Customer</th>
          	    
          		
          		
          		<th>Description</th>
          		<th>Status</th>
          		<th id="act">Action</th>
          		<th id="req">Action</th>	
          			
          	</tr>
          	</thead>
    <tbody>
          	{% for request in object_list reversed %}
          	<tr style="font-size:13px">
          	
          		
          		{% with x=request.status.id z=10 y=9 w=5 %}   		
          		{% if x %}
	          		{% ifequal x y %}
	          		<td><a>{{request.service_type }}</a></td>
	          		{% endifequal %}
	          		{% ifequal x z %}	
		          		{% with a=group.name b="Member" %}
			          		{% ifequal a b %}
			          		<td><a class="req_edit_link" href="{% url "customer:member_edit_emergency" request.id %}" >{{request.service_type }}</a></td>
			          		{% endifequal %}
			          		{% ifnotequal a b %}
			          		<td><a class="req_edit_link" href="#" style="text-decoration:None;">{{request.service_type }}</a></td>
			          		{% endifnotequal %}
		          		{% endwith %}	
	          		{% endifequal %}
                                {% ifequal x w %}
                                   <td><a>{{request.service_type }}</a></td>
                                {% endifequal %}
   		
	          	{% else %}
	          		<td><a>{{request.service_type }}</a></td>
	          	{% endif %}
	          	{% endwith %}
	          		<td class="cust_name">{{ request.customer}}</a></td>
	          	
	          		
          		{% with a=group.name b="Member" %}
	          		{% ifequal a b %}
	          		<td>{{ request.description }}</td>
	          		{% endifequal %}
	          		{% ifnotequal a b %}
	          		<td>{{ request.description }}</td>
	          		{% endifnotequal %}
          		{% endwith %}
          		
          		{% with x=request.status.id  z=10 y=9 w=5 %}
          		{% if x %}
	          		{% ifequal x y %}
	          		<td><label class="label label-success">{{request.status}}</label></td>
	          		{% endifequal %}
	          		{% ifequal x z %}
	          		<td><label class="label label-info">{{request.status}}</label></td>
	          		
	          		{% endifequal %}
                                {% ifequal x w %}
                                   <td><a>{{request.status }}</a></td>
                                {% endifequal %}

	          	{% else %}
	          		<td>None</td>	
	          	{% endif %}	
          		{% endwith %}
          		
	          	<td class="req_del"><a href="{% url "customer:delete_emergency_req" request.id %}" >
                        	<button  class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</button>
			</a></td>
          			
          		{% with x=request.status.id  z=10 y=9 w=5 %}
          		{% if x %}
	          		{% ifequal x y %}
	          		<td class="act_del"><a href="{% url "Appointment:server_new" request.id %}"><button class="btn btn-danger btn-xs" style="font-size:12px"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;&nbsp;Schedule Appointment</button></a></td>
	          		{% endifequal %}
	          		{% ifequal x z %}
	          		<td class="act_del">----</td>
	          		{% endifequal %}
                                {% ifequal x w %}
                                   <td class="act_del">----</td>
                                {% endifequal %}

	          	{% else %}
	          		<td class="act_del"><a href="{% url "Appointment:server_new" request.id %}"><button class="btn btn-danger btn-xs" style="font-size:12px"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;&nbsp;Schedule Appointment</button></a></td>
	          	{% endif %}	
          		{% endwith %}
          		</tr>
          	{% endfor %}
          	</tbody>
    </table>
    
          
        </section>
      </div>
      </div>
          {% endblock%}
          
</body>
</html>