{% extends "base2.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block head %}
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="{% static 'css/wickedpicker.css' %}">  
  <script type="text/javascript" src="{% static 'js/wickedpicker.js' %}"></script>

<style>
.vin_box{
    background-image: url('/../../static/images/square.gif');    
    width: 500px;
    height: 36px;
    margin-right:2px;
    font-size: 14px;   
    letter-spacing: 20px;
    background-size: 29px 36px;
}
</style>  
<script>
	$(document).ready(function(){
		
		$('.vin_box').keyup(function(){
		    this.value = this.value.toUpperCase();
		});
		//$( ".id_date" ).datepicker({minDate:0,dateFormat:'dd/mm/yy'});
		
$(".id_date").each(function(){
					$(this).datepicker({minDate:0,dateFormat:'dd/mm/yy'})
				}); 
			
	    var isFormValid = true;
		$("#promo").click(function() {
			//alert("click");
			var isFormValid = true;

		    $(".email").each(function(){
		    	//alert($.trim($(this).val()).length);
		        if ($.trim($(this).val()).length == 0){
		        	$(this).parent().next('.validation').hide();
		            $(this).parent().after("<div class='validation' style='color:red;padding-left: 15px;'>This field is required</div>");
		            $(this).css("border", "1px solid red")
		            isFormValid = false;
		        }
		        else{
		            $(this).removeClass("highlight");
		            $(this).parent().next().hide();
	    			$(this).css("border-color", "#ccc")
		            
		        }
		    });
		    $(".f_name").each(function(){
		    	//alert($.trim($(this).val()).length);
		        if ($.trim($(this).val()).length == 0){
		        	$(this).parent().next('.validation').hide();
		            $(this).parent().after("<div class='validation' style='color:red;padding-left: 15px;'>This field is required</div>");
		            $(this).css("border", "1px solid red")
		            isFormValid = false;
		        }
		        else{
		            $(this).removeClass("highlight");
		            $(this).parent().next().hide();
	    			$(this).css("border-color", "#ccc")
		            
		        }
		    });
		    $(".last_name").each(function(){
		    	//alert($.trim($(this).val()).length);
		        if ($.trim($(this).val()).length == 0){
		        	$(this).parent().next('.validation').hide();
		            $(this).parent().after("<div class='validation' style='color:red;padding-left: 15px;'>This field is required</div>");
		            $(this).css("border", "1px solid red")
		            isFormValid = false;
		        }
		        else{
		            $(this).removeClass("highlight");
		            $(this).parent().next().hide();
	    			$(this).css("border-color", "#ccc")
		            
		        }
		    });
		    
		    $(".vehicle_no").each(function(){
		    	//alert($.trim($(this).val()).length);
		        if ($.trim($(this).val()).length == 0){
		        	$(this).parent().next('.validation').hide();
		            $(this).parent().after("<div class='validation' style='color:red;padding-left: 15px;'>This field is required</div>");
		            $(this).css("border", "1px solid red")
		            isFormValid = false;
		        }
		        else{
		            $(this).removeClass("highlight");
		            $(this).parent().next().hide();
	    			$(this).css("border-color", "#ccc")
		            
		        }
		    });
		    $(".company").each(function(){
		    	//alert($.trim($(this).val()).length);
		        if ($.trim($(this).val()).length == 0){
		        	$(this).parent().next('.validation').hide();
		            $(this).parent().after("<div class='validation' style='color:red;padding-left: 15px;'>This field is required</div>");
		            $(this).css("border", "1px solid red")
		            isFormValid = false;
		        }
		        else{
		            $(this).removeClass("highlight");
		            $(this).parent().next().hide();
	    			$(this).css("border-color", "#ccc")
		            
		        }
		    });
		    $(".model").each(function(){
		    	//alert($.trim($(this).val()).length);
		        if ($.trim($(this).val()).length == 0){
		        	$(this).parent().next('.validation').hide();
		            $(this).parent().after("<div class='validation' style='color:red;padding-left: 15px;'>This field is required</div>");
		            $(this).css("border", "1px solid red")
		            isFormValid = false;
		        }
		        else{
		            $(this).removeClass("highlight");
		            $(this).parent().next().hide();
	    			$(this).css("border-color", "#ccc")
		            
		        }
		    });
		    $(".makeyear").each(function(){
		    	//alert($.trim($(this).val()).length);
		        if ($.trim($(this).val()).length == 0){
		        	$(this).parent().next('.validation').hide();
		            $(this).parent().after("<div class='validation' style='color:red;padding-left: 15px;'>This field is required</div>");
		            $(this).css("border", "1px solid red")
		            isFormValid = false;
		        }
		        else{
		            $(this).removeClass("highlight");
		            $(this).parent().next().hide();
	    			$(this).css("border-color", "#ccc")
		            
		        }
		    });
		    
		  //Company phone Validations
	        var phone_val=$.trim($("#id_phone").val())
	        re = /^[0-9]+$/;
	         if( phone_val!=''){
	        	 //alert("phone number is not null");
	        	if(!re.test(phone_val)){
	        		$("#id_phone").parent().next('.validation').hide();
		        	$("#id_phone").parent().after("<div class='validation' style='color:red;padding-left: 15px;'>Phone no contains only digits!</div>");
		        	$("#id_phone").css("border", "1px solid red")
                  isFormValid = false;
	        	}
	        	else if((phone_val.charAt(0)!=0 && phone_val.length!=8)){
	        		//alert("if charAt!=0");
	        	$("#id_phone").parent().next('.validation').hide();
		        	$("#id_phone").parent().after("<div class='validation' style='color:red;padding-left: 15px;'>Landline number must contain 8 digit!</div>");
		        	$("#id_phone").css("border", "1px solid red")	
	        	
                 isFormValid = false;	
	        	}
	        	else if(phone_val.charAt(0)==0 && phone_val.length!=10){
	        		
	        		//alert("if charAt==0");
                $("#id_phone").parent().next('.validation').hide();
		        	$("#id_phone").parent().after("<div class='validation' style='color:red;padding-left: 15px;'>Mobile number must contain 10 digits!</div>");
		        	$("#id_phone").css("border", "1px solid red")
                  isFormValid = false;
	        	}
               
	        	else{
	        		//alert("else");
	        		$("#id_phone").removeClass("highlight");
	        	$("#id_phone").parent().next().hide();
	        	$("#id_phone").css("border-color", "#ccc")
	        	}
	        }
	         
		        //vehicle phone number
	         var phone_val=$.trim($(".phone_no").val())
		        re = /^[0-9]+$/;
		         if( phone_val!=''){
		        	 //alert("phone number is not null");
		        	if(!re.test(phone_val)){
		        		$(".phone_no").parent().next('.validation').hide();
			        	$(".phone_no").parent().after("<div class='validation' style='color:red;padding-left: 15px;'>Phone no contains only digits!</div>");
			        	$(".phone_no").css("border", "1px solid red")
	                  isFormValid = false;
		        	}
		        	else if((phone_val.charAt(0)!=0 && phone_val.length!=8)){
		        		//alert("if charAt!=0");
		        	$(".phone_no").parent().next('.validation').hide();
			        	$(".phone_no").parent().after("<div class='validation' style='color:red;padding-left: 15px;'>Landline number must contain 8 digit!</div>");
			        	$(".phone_no").css("border", "1px solid red")	
		        	
	                 isFormValid = false;	
		        	}
		        	else if(phone_val.charAt(0)==0 && phone_val.length!=10){
		        		
		        		//alert("if charAt==0");
	                $(".phone_no").parent().next('.validation').hide();
			        	$(".phone_no").parent().after("<div class='validation' style='color:red;padding-left: 15px;'>Mobile number must contain 10 digits!</div>");
			        	$(".phone_no").css("border", "1px solid red")
	                  isFormValid = false;
		        	}
                   
		        	else{
		        		//alert("else");
		        		$(".phone_no").removeClass("highlight");
		        	$(".phone_no").parent().next().hide();
		        	$(".phone_no").css("border-color", "#ccc")
		        	}
		        }
		    
		    if (!isFormValid) pass;
		    else{
		    	
		    	promo_form.submit();
		    }
		    return isFormValid;
		
		});
		
    $("[id$='company']").change(function(){
                //alert("company changed");
				dict1=null;
				//alert("hello");
				id1=$(this).attr('id');
				cnt=id1.split('-');
				//alert(id1);
				id2='id_form2-'+cnt[1]+'-model';
				//alert(id2);
				id3='id_form2-'+cnt[1]+'-makeyear';
				//alert(id3);
				$("#"+id2).empty();
				company=$("#"+id1+"\t option:selected ").text();
				//alert("company"+company);
				$.ajax({
					url:'/CRM/get_models/',
					type: "GET",
					data:{company:company},
				}).done(function(data){
					$("#"+id2).empty();
					 $("#"+id2).prepend("<option selected>Please Select</option>");
					 $.each(data,function(key,value)
					{
						 console.log("for data"+key);
						 $("#"+id2).append('<option value="'+data[key].id+'">'+data[key].model_name+'</option>');

					});
			});
			});
			});
</script>
{% endblock %}
{%block content%}
    <input type="hidden" id="group" value="{{ user.groups.all.0 }}">

   <h4 class="" style="color: #6B748A;font-size: 17px;"><span class="glyphicon glyphicon-th-list"></span>
                DRIVER DETAILS</h4>
<hr>
 <div class="row">   
              
          
          <div class="dropdown pull-right" style="margin-right: 14px;">
                         <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
               <i class="fa fa-floppy-o"></i> Save
                <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                       <li><a id="promo" type="submit"style="cursor: pointer;"><i class="fa fa-check" aria-hidden="true"></i> Save </a></li>
        
                   </ul>
             </div>
           
</div>
<!-- Company details form-->
<form method="POST" id="promo_form">
    {% csrf_token %}
        
<!--End of company details form  -->
<!-- start of vehicle details form -->

        {{ leadformset.management_form }}
        {{ vehicleformset.management_form }}

        <div class="panel panel-default" style="margin-top:20px;">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-car" aria-hidden="true"></i> Driver-Vehicle Details</h4>
            </div>
         <div class="panel-body">
        {% for form1 in leadformset %}
      
             {{ form1.id }}
            <div class="table">
                <div class="row">
                     <div class="col-md-3 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="name">First Name*</label>
                            <div>{{ form1.name}}</div>
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="name">Last Name*</label>
                            <div>{{ form1.last_name}}</div>
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                       <div class="col-md-3 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="name">Email*</label>
                            <div>{{ form1.email}}</div>
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="name">Phone number</label>
                            {{ form1.phone}}
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div> 
                </div>
                
                <div class="row">
                      <div class="col-md-3 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="name">License</label>
                            {{ form1.licenseid}}
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                     <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="name">Address</label>
                            {{ form1.address}}
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                </div>
               
               
               {% for form2 in vehicleformset %}
               {% with c=form1.instance.id d=form2.instance.lead.pk %}
                {% if c = d %}
              
                   {{ form2.id }}
                <div class="row">
                     <div class="col-md-3 col-xs-5 col-sm-5">
                        <div class="form-group">
                            <label for="name">Vehicle Number*</label>
                            <div>{{ form2.vehicle_no}}</div>
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                     <div class="col-md-2 col-xs-5 col-sm-5">
                        <div class="form-group">
                            <label for="name">Make*</label>
                            <div>{{ form2.company}}</div>
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                     <div class="col-md-2 col-xs-5 col-sm-5">
                        <div class="form-group">
                            <label for="name">Model*</label>
                           <div> {{ form2.model}}</div>
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                    <div class="col-md-2 col-xs-4 col-sm-4">
                        <div class="form-group">
                            <label for="name">Year*</label>
                            <div>{{ form2.makeyear}}</div>
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="name">Reg Expiry Date*</label>
                           <div> {{ form2.reg_expiry_date}}</div>
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                     </div>
                     <div class="row">
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="name">VIN Number</label>
                            {{ form2.vin_no}}
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                     
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="name">Chasis Number</label>
                            {{ form2.chasis_no}}
                            <div id="error1" style="color:red"></div>
                        </div>
                     </div>
                     
                     <div class="col-md-1 col-sm-offset-2" style="margin-top: 30px;">
                     <a class="btn btn-primary delete_form hrefa" style="float:right;padding: 2px;padding-left: 5px;padding-right: 5px;" id="delete_form">
						<span class="glyphicon glyphicon-minus-sign"></span>
					   Delete Driver
					   </a>
					<!-- <div><strong>Delete</strong></div>
					<a class="hrefa"><span class="btn fa fa-trash fa-2x delete_form" style="color:red;" id="delete_form" name="delete_form">
                         
                      </span></a> -->
                      </div>
                </div>
                  
                <hr>
            </div>
           
              {% endif %}
               {% endwith %}
             {% endfor %}
             {% endfor %}
             
             <input type="button" class="btn btn-danger btn-sm pull-right " value="Add More Driver" id="add_more" style="margin-right: 81px;">
         </div>
        

    </div>
   
    </form>
<!-- end of vehicle detials form -->

<script>
    $('#add_more').click(function() {
        cloneMore('div.table:last', 'form');
        
    });
</script>

<script>
    $(".delete_form").click(function() {
        return deleteForm(this, 'form');
      });
// delete forms through js

     function deleteForm(btn, prefix) {
       //alert(prefix);
       var formCount = parseInt($('#id_form1-TOTAL_FORMS').val());
       alert(formCount);
       if (formCount > 1) {
    	   
    	   $(btn).parents('.table').find(':input').each(function() {
          	 if ($(this).attr('type')=="hidden"){
                  	 //alert("AAA"+$(this).val());
                  	 if($(this).val()!=0){
                  		 var a=	 $(this).siblings('.hrefa')
                  		// alert(a);
                  		 var url_path= window.location.href
                  		spliturl=url_path.split("edit_drivers");
                  		 //alert(spliturl[0]);
				if(formCount >1){
				//alert("in formcount >1");
                  		$('a').attr("href", "/CRM/driver_delete_ajax/"+$(this).val())
				//alert(spliturl[0]+"driver_delete_ajax/"+$(this).val());
                  		window.location.replace(spliturl[0]+"driver_delete_ajax/"+$(this).val());
				}
                  		
                  	 }
                  	 else{
                  		 //alert(null);
                  		  $(btn).parents('.table').remove();
                  		 //$(btn).parents('.table').remove();
                  	 }
          	 
         
          	 }
           }); 
    	   
         // Delete the item/form
        
         $(btn).parents('.table').find(':input,select').each(function() {

         });
         var forms = $('.table'); // Get all the forms
         //alert('#id_' + prefix + '-TOTAL_FORMS');
         // Update the total number of forms (1 less than before)
         $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

         var i = 0;
         // Go through the forms and set their indices, names and IDs
         for (formCount = forms.length; i < formCount; i++) {
           $(forms.get(i)).find('input,select,textarea,Date,checkbox').each(function() {
            updateElementIndex(this, prefix, i);
           });
         }
         var myElements = $(".id_date");
         for (var i=0;i<myElements.length;i++) {
      	   myElements.eq(i).datepicker({minDate:0,dateFormat:'dd/mm/yy'});
            //alert(myElements.eq(i).attr("name"));
         }
       } // End if
       else {
           alert("Can't Delete!!!Atleast One Shift will be there!");
       }
       return false;
       
     }
     

    function updateElementIndex(el, prefix, ndx) {

           var id_regex = new RegExp('(' + prefix + '-\\d+-)');
           var replacement = prefix + '-' + ndx + '-';
           if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
           if (el.id) el.id = el.id.replace(id_regex, replacement);
           if (el.name) el.name = el.name.replace(id_regex, replacement);
         }

//add form through js
    function cloneMore(selector, type) {
    	$(".id_date").datepicker("destroy");
	//alert(type)
    var newElement = $(selector).clone(true);
    var total = $('#id_form1-TOTAL_FORMS').val();
    //alert("total "+total)
    var iNumtotal = parseInt(total)+1;
    //alert(iNumtotal)
    $('#id_form1-TOTAL_FORMS').val(iNumtotal);
    $('#id_form2-TOTAL_FORMS').val(iNumtotal);
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        //alert((total-1));
        
    });
    newElement.find('select').each(function() {
    	//alert($(this).attr('id'));
        var name1 = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        //alert(name1);
        splitData=name1.split("-");
    	formCount = splitData[2]
    	//alert("formCount "+formCount)
    	formCount1 = splitData[1]
    	var iNum = parseInt(formCount1)
    	var iNum1 = iNum +1;
    	//alert("formCount1 "+iNum1)
    	formCount2 = splitData[0]
    	//alert("formCount2 "+formCount2)
    	var name2=formCount2+'-'+(total-1)+'-'+formCount
    	//alert(name2)
        var id1 = 'id_' + name1;
        $(this).attr({'name': name1, 'id': id1}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    //$('#id_form2-1-reg_expiry_date').datepicker({minDate:0,dateFormat:'dd/mm/yy'})
    $(".id_date").each(function(){
		$(this).datepicker({minDate:0,dateFormat:'dd/mm/yy'})
	});
}

</script>
{% endblock %}