{% extends "base1.html" %}
{% load static from staticfiles %}
{% block head %}


  
  
 
 
 
  
  <script type="text/javascript">
  
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
 
    <style>
  .continue:hover{
	color: #f38619;
background-color: #fff;
border-color: #f38619;
}

.continue{
	
	background-color:#f38619;
	box-border:#f38619;
	color:#fff;
}
   a:hover{
   text-decoration:none;
   
   }
  a{
  color:#fff;
  }
  
    </style>

  {% endblock %}
  {% block content %}
 
  <!-- Modal -->
  <div class="body" style=" min-height: calc(58vh - 30px);">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
       <form id="user_form" method="post" name="form" action="/registration/subscribe/"> {% csrf_token %}
       
        <div class="modal-header">
         
         <center><strong><h3 class="modal-title">Re-Subscribe</h3></strong></center>
        </div>
        <div class="modal-body">
        
          <div class="container register" style="width:100%; "> 
    <span style="font-weight: 700; ">You have currently unsubscribed Auto Xtion services. 
    <p>To redeem services to have to resubscribe Auto Xtion plan.</p>
    <p>To resubscribe click on continue button. which will reactivate your subscription and deduct <strong style="color: #f38619;">$50 for 1 month.</strong></p></span>
   
    
				         
                   
		</div>
		
          
       
          
           <div class="row modal-footer ">
            <div class="col-md-3 col-xs-6 col-sm-6">
                 <div class="form-group">&nbsp;&nbsp;&nbsp;      
                <button type="button" class="btn continue submit_frm" data-dismiss="modal" ><a href="{% url 'Registration:subscribe'%}">Continue</a></button>
                </div>
               </div>

			  <div class="col-md-6 col-xs-6 col-sm-6">
                 <div class="form-group">&nbsp;&nbsp;&nbsp;      
                <button type="9" class="btn continue submit_frm"><a href="/registration/logout/">Cancel</a></button>
                </div>
               </div>
             </div>
          </div>
          
         </div>
        </form></div>
  </div>
</div>
   {% endblock %}