{% extends "base1.html" %}
{% load static from staticfiles %}
{% block head%}
 <meta charset="utf-8">
<script>
    .li_ht{
    padding-top:2px;
    padding-bottom:2px;
    }
</script>
{% endblock %}
{%block content %}
<div class="container">
    <div class="row">
    <h1>AUTO XTION MEMBERSHIP SUBSCRIPTION AGREEMENT</h1>
    <h4>THIS AGREEMENT made the day of</h4>

    <strong>BETWEEN </strong> &nbsp;:&nbsp;		The Party named in Item 1 of Schedule 1 (<strong>Supplier</strong>)<br>

    <strong>AND</strong> &nbsp;:&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		The Party named in Item 2 of Schedule 1 (<strong>Member</strong>)

    <br>
    <strong>
    </div>
    <div class="row">
RECITALS:
</strong>
    <br>
    <ol type="A">
        <li class="li_ht">The Supplier sells a membership subscription Auto Xtion Communication Platform. </li>
        <li class="li_ht">The Supplier is the owner or licensed user of the confidential information and intellectual property rights to the Auto Xtion Communication Platform.
        </li>
        <li class="li_ht">The member wishes to subscribe to the Auto Xtion Communication Platform (System) from the Supplier and the Supplier has agreed to supply the Auto Xtion Communication Platform to the member on the terms and conditions contained in this Agreement.</li>


    </ol>
<br>
        </div>
    <h4>THE PARTIES AGREE AS FOLLOWS:</h4>
    <ol type="1">
        <li>INTERPRETATION</li>
        <li>In this Agreement unless the context otherwise requires &nbsp;:&nbsp;</li>
        <ol style="list-style-type:none;">
            <li class="li_ht"><strong>Agreement</strong> means this Agreement together with the schedules and annexures identified in this Agreement;</li>
            <li class="li_ht"><strong>Base Amount </strong>means the members joining fee which has to be paid on acceptance of becoming a registered member as specified in Item 3 of Schedule 2; which is non-refundable and a one-off payment. </li>
            <li class="li_ht"><strong>Business Day </strong>means a day on which trading banks holding a current Australian banking license are open for business in Australia, and does not include a public holiday, Saturday or Sunday.</li>
            <li class="li_ht"><strong>Commencement Date </strong>means the date referred to in Item 3 of Schedule 1;</li>
            <li class="li_ht"><strong>Confidential Information </strong>has the meaning given to it by clause 12;</li>
            <strong>Auto Xtion Communication Platform </strong>means:
            <ol type="a">
                <li class="li_ht">in respect of a system which is agreed to be utilised by the member, or a customer of the member from the members login access;</li>
                <li class="li_ht">in respect of services and resources which are to be delivered to the member or in the case of any new service that is subsequently included in paragraph (a), that would add value to the system,provided that membership will be deemed not to have occurred until the later of:</li>
                <li class="li_ht">the date for membership to commence has been confirmed via email or postal letter ; or other such means for the purpose of notification.</li>
                <li class="li_ht">if the member failed to make payment, on the promised date. </li>
                <li class="li_ht">Services do not conform to the member’s express or implied obligations arising out of this Agreement as to quantity or quality, then on that date when those obligations of the Supplier are fulfilled;</li>
            </ol>
            <li class="li_ht"><strong>Jurisdiction </strong>means the country, state or territory nominated in Item 4 of Schedule 1;</li>
            <li class="li_ht"><strong>Minimum System Performance Criteria </strong>means the level of service performance described in Schedule 2 item 1;</li>
            <li class="li_ht"><strong>Prices </strong>means the prices listed in Item 2 of Schedule 2 as amended by adjustment pursuant to clause 6.3;
            <li class="li_ht"><strong>System </strong>means the services specified in Item 1 of Schedule 2 and such other services as the parties may agree and is added;</li>
            <li class="li_ht"><strong>Members Premises</strong> means those premises identified in Item 9 of Schedule 1 or such other premises as the member may reasonably nominate in writing from time to time;</li>
            <li class="li_ht"><strong>Supplier’s</strong> Premises means those premises identified in Item 8 of Schedule 1;</li>
            <li class="li_ht"><strong>Term</strong> means the period commencing on the Commencement Date and finishing on the termination of this Agreement which, is subject to clause 2, will be the period referred to in Item 5 of Schedule 1. </li>
        </ol>
        <li class="li_ht">In this Agreement unless the contrary intention appears:
            <ol type="a">
                <li class="li_ht">a reference to this Agreement or another instrument includes any variation or replacement of them;</li>
                <li class="li_ht">a reference to a statute, ordinance, code or other law includes regulations and other instruments under it and consolidations, amendments, re-enactments or replacements of any of them;</li>
                <li class="li_ht">the singular includes the plural and vice versa;</li>
                <li class="li_ht">the masculine includes the feminine and neuter, the feminine includes the masculine and neuter, the neuter includes the masculine and feminine;</li>
                <li class="li_ht">the word “person” includes a firm, a body corporate, and unincorporated association or an authority;</li>
                <li class="li_ht">a reference to a person includes a reference to the person’s executors, administrators, successors, substitutes (including, without limitation, a person taking by novation) and assigns;</li>
                <li class="li_ht">an agreement, liability, obligation, representation or warranty on the part of or in favour of two or more persons binds or is for the benefit of them jointly and severally;</li>
                <li class="li_ht">a reference to any thing (including, without limitation, any amount) is a reference to the whole or any part of it and a reference to a group of persons is a reference to any one or more of them; and</li>
                <li class="li_ht">a reference to all parties, clauses, exhibits, annexures or schedules shall, unless otherwise provided, be to the parties, clauses, exhibits, annexures or schedules of or to this Agreement.</li>

            </ol>
        </li>
    </ol>
    
    
<!-- 11 -->



 <ol>
        <strong>11.	DEFAULT</strong>
        <li>Without limiting any other remedies available to either party, a party (“Non Defaulting Party”) may terminate this Agreement immediately by giving the other party (“Defaulting Party”) written notice if the Defaulting Party: &nbsp;:&nbsp;</li>
        <ol style="list-style-type:none;">
            <li class="li_ht">(a)	is or is deemed pursuant to any applicable law governing its operation or incorporation to be unable to pay its debts as and when they fall due;</li>
            <li class="li_ht">(b)	presents or threatens to present or file with a Court or Tribunal any process by which it seeks an order, declaration or direction that it be declared insolvent, or be wound up or that it have a liquidator (in whatever capacity) appointed or it resolves that it be wound up; or </li>
            <li class="li_ht">(c)   enters into a scheme of arrangement or composition with its creditors, passes a resolution at a meeting of creditors to place it under management for the benefit of creditors generally or any creditor or class of creditors specifically;</li>
            <li class="li_ht">(d)	has an agent, mortgagee, receiver or a receiver and manager appointed or go into possession in relation to the whole or any part of its property;</li>
            <li class="li_ht">(e)	fails within twenty-eight days of receipt of written notice from the Non-Defaulting Party, specifying the breach complained of, to remedy a material breach.</li>
             </ol>
             <li>If the Supplier does not receive any payment within thirty (30) days of the payment being due and payable to it in accordance with this Agreement, then in addition to any other right or remedy available to the Supplier, the Supplier may give a further fourteen (14) days written notice to the member that it requires payment to be made and that failing such payment it may suspend the members subscription entitlements under this Agreement.</li>
            <li>If the Supplier does not receive any payment within thirty (30) days of the payment being due and payable to it in accordance with this Agreement, then in addition to any other right or remedy available to the Supplier, the Supplier may give a further fourteen (14) days written notice to the member that it requires payment to be made and that failing such payment it may suspend the members subscription entitlements under this Agreement.</li>
            <ol type="a">
                <li class="li_ht">in respect of a system which is agreed to be utilised by the member, or a customer of the member from the members login access;</li>
                <li class="li_ht">in respect of services and resources which are to be delivered to the member or in the case of any new service that is subsequently included in paragraph (a), that would add value to the system,provided that membership will be deemed not to have occurred until the later of:</li>
                <li class="li_ht">the date for membership to commence has been confirmed via email or postal letter ; or other such means for the purpose of notification.</li>
                <li class="li_ht">if the member failed to make payment, on the promised date. </li>
                <li class="li_ht">Services do not conform to the member’s express or implied obligations arising out of this Agreement as to quantity or quality, then on that date when those obligations of the Supplier are fulfilled;</li>
            </ol>
            <li class="li_ht"><strong>Jurisdiction </strong>means the country, state or territory nominated in Item 4 of Schedule 1;</li>
            <li class="li_ht"><strong>Minimum System Performance Criteria </strong>means the level of service performance described in Schedule 2 item 1;</li>
            <li class="li_ht"><strong>Prices </strong>means the prices listed in Item 2 of Schedule 2 as amended by adjustment pursuant to clause 6.3;
            <li class="li_ht"><strong>System </strong>means the services specified in Item 1 of Schedule 2 and such other services as the parties may agree and is added;</li>
            <li class="li_ht"><strong>Members Premises</strong> means those premises identified in Item 9 of Schedule 1 or such other premises as the member may reasonably nominate in writing from time to time;</li>
            <li class="li_ht"><strong>Supplier’s</strong> Premises means those premises identified in Item 8 of Schedule 1;</li>
            <li class="li_ht"><strong>Term</strong> means the period commencing on the Commencement Date and finishing on the termination of this Agreement which, is subject to clause 2, will be the period referred to in Item 5 of Schedule 1. </li>
        </ol>
        <li class="li_ht">In this Agreement unless the contrary intention appears:
            <ol type="a">
                <li class="li_ht">a reference to this Agreement or another instrument includes any variation or replacement of them;</li>
                <li class="li_ht">a reference to a statute, ordinance, code or other law includes regulations and other instruments under it and consolidations, amendments, re-enactments or replacements of any of them;</li>
                <li class="li_ht">the singular includes the plural and vice versa;</li>
                <li class="li_ht">the masculine includes the feminine and neuter, the feminine includes the masculine and neuter, the neuter includes the masculine and feminine;</li>
                <li class="li_ht">the word “person” includes a firm, a body corporate, and unincorporated association or an authority;</li>
                <li class="li_ht">a reference to a person includes a reference to the person’s executors, administrators, successors, substitutes (including, without limitation, a person taking by novation) and assigns;</li>
                <li class="li_ht">an agreement, liability, obligation, representation or warranty on the part of or in favour of two or more persons binds or is for the benefit of them jointly and severally;</li>
                <li class="li_ht">a reference to any thing (including, without limitation, any amount) is a reference to the whole or any part of it and a reference to a group of persons is a reference to any one or more of them; and</li>
                <li class="li_ht">a reference to all parties, clauses, exhibits, annexures or schedules shall, unless otherwise provided, be to the parties, clauses, exhibits, annexures or schedules of or to this Agreement.</li>

            </ol>
        </li>
    </ol>



</div>
{% endblock %}